.img1{
    height: 80vh;
    object-fit: cover;
    filter: brightness(40%);
}
.course{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.img2{
    width: 100px;
    height: 50px;
    object-fit: contain;
}